<%-include('header.ejs')%>

<div class="reader-page">
    <div class="bottom_ground"></div>
    <div class="reader-con">
        <div class="top-div">
            <div class="title">님의 우체통</div>
            <div class="sub-title" id="mailcount">아직 도착한 편지가 없어요.</div>
        </div>
        <div class="content-box">
            <div class="from-txt">FROM. {USER_NAME}</div>
            <div class="down-btn" id = "download_btn">
                <a href="" id = "txt-number" download><img src="/img/ic_download.png" /></a>
                <a href="" id = "download_source" download=""><img src="/img/ic_download.png" /></a>
            </div>

            <div class="text-box open" id="input-box"></div>
            <div class="audio-box" id="listen-box" >
                <!-- <img src="/img/ic_headphone.png" /> -->
                <audio id="play_audio" controls><source id = "play_source" type = "audio/webm"/></audio>
                <!-- <div class="time">00:00</div> -->
            </div>
        </div>
        <div class="btm-control">
            <div class="arrow left" onclick="contentBefore()"><img src="/img/ic_arrow.png" /></div>
            <div class="page-txt">{#}/{TOTAL}</div>
            <div class="arrow" onclick="contentNext()"><img src="/img/ic_arrow.png" /></div>
        </div>
    </div>
</div>
<script>
    // 데이터 연결필요
    let i = 0;

    window.onload = function () {
        var url;

        userId = getCookie('userId');
        fEditor = new FroalaEditor('#input-box', {
            events: {
                initialized: function () {
                    this.toolbar.hide();

                },
            },
        });
        if (userId) {
            $.ajax({
                url: '/user/handshake',
                async: true,
                type: 'POST',
                data: {
                    userId: userId,
                },
                dataType: 'json',
                // 위에 data랑 다름
                success: function (data) {
                    nickname = data.user.nickname;
                    mailcount = data.mail
                    if (data.status == 1) {
                     
                        console.log(data,"handshake data");
                        $('.title')[0].innerHTML = nickname + '님의 우체통';
                        $('#mailcount')[0].innerHTML = mailcount + '개의 편지가 도착했어요!';
                        
                    } else {
                        console.log(data.msg);
                        alert('잠시 후에 다시 시도해주세요.');
                        window.location.href = '/';
                    }
                },
                error: function (err) {
                    console.log('FAILURE : ', err.msg);
                    window.location.href = '/';
                },
            });

            $.ajax({
                url: '/reader/get_mailbox',
                async: true,
                type: 'GET',
                data: {
                    userId: userId,
                },
                success: function (data) {
                    letter = data.list;
                    console.log(data, "from email");
                    console.log(letter, "데이터 리스트");
                    $('.from-txt')[0].innerHTML = "FROM: " + letter[i].from ;
                    fEditor.html.insert(letter[i].content);
                    fEditor.edit.off();
                    $('.page-txt')[0].innerHTML = "{" + letter[i].id + "}" + "/" + "{" + letter.length + "}"; 
                    changeTxtHref('uploads/text_' + [i+1] + '.txt');
                    changeHref(letter[i].content.replace('public/',''));

                    if (letter[i].type == 1){
                        var hideVoiceDown = document.getElementById('download_source');
                        hideVoiceDown.style.display = 'none'; // 요소를 숨김
                    } else {
                        var hideTxtDown = document.getElementById('txt-number');
                        hideTxtDown.style.display = 'none'; // 요소를 숨김
                    }
                },
                error: function (err) {
                    console.log('FAILURE : ', err.msg);
                    window.location.href = '/';
                },
            });
        }
    };

    function contentBefore() {
        if (i > 0) {
            i --;
             // 현재 letter index에 1을 뺍니다.
            // 여기에 letter[i]에 대한 처리를 추가할 수 있습니다.
            updateLetterContent();
        } else {
            alert('이전 편지가 없습니다.');
        }
    }

    function contentNext() {
        if (i < letter.length - 1) {
            i ++; // 현재 letter index에 1을 뺍니다.
            // 여기에 letter[i]에 대한 처리를 추가할 수 있습니다.
            updateLetterContent();
        } else {
            alert('다음 편지가 없습니다.');
        }
    }

    function changeHref(newHref) {
    document.getElementById('download_source').href = newHref;
    }

    function changeTxtHref(newHref) {
    document.getElementById('txt-number').href = newHref;
    }

    function updateLetterContent() {
        $('.from-txt')[0].innerHTML = "FROM: " + letter[i].from;
        fEditor.html.set('');
        if (letter[i].type == 1){
            fEditor.html.insert(letter[i].content);

            changeTxtHref('uploads/text_' + [i+1] + '.txt');

            var hideVoiceDown = document.getElementById('download_source');
            hideVoiceDown.style.display = 'none'; // 요소를 숨김

            var hideTxtDown = document.getElementById('txt-number');
            hideTxtDown.style.display = 'block';

            $('#listen-box').removeClass('open');
            $('#input-box').addClass('open');

        } else if(letter[i].type == 2){
            fEditor.html.insert('해당 메세지는 음성메세지입니다. 아래 재생 버튼을 눌러 확인해보세요!');
            $('#listen-box').addClass('open');

            changeHref(letter[i].content.replace('public/',''));

            var ad = document.querySelector('#play_source');
            ad.src = letter[i].content.replace('public/','');

            var ap = document.getElementById('play_audio');
            ap.load();

            var aq = document.querySelector('#download_source');
            aq.src = letter[i].content.replace('public/','');

            var hideVoiceDown = document.getElementById('download_source');
            hideVoiceDown.style.display = 'block';

            var hideTxtDown = document.getElementById('txt-number');
            hideTxtDown.style.display = 'none'; // 요소를 숨김

        } else {
            console.log("에러");
        }
        fEditor.edit.off();
        $('.page-txt')[0].innerHTML = "{" + letter[i].id + "}" + "/" + "{" + letter.length + "}";
    }

</script>
<%-include('footer.ejs')%>

