.chatPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightpink;
  height: 100vh;
}
.chatPage .topChat {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}
.chatPage .topChat .roomList {
  margin-top: 5%;
  margin-left: 50px;
  padding: 10px;
  word-wrap: break-word;
  border-top-left-radius: 20px;
  border-bottom: 1px solid lightgrey;
  box-shadow: 1px 1px 3px 1px #6b6b6d;
  overflow-y: auto;
  background-color: palevioletred;
  width: 10%;
}
.chatPage .topChat .roomList div {
  cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  font-size: small;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* 배경색 변경 시 부드러운 효과를 위한 transition */
}

/* 클릭한 상태일 때의 스타일 */
.chatPage .topChat .roomList div:hover {
  background-color: #d0d0d0;
}
.chatPage .topChat .chatSpace {
  margin-top: 5%;
  margin-right: 50px;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  border-top-right-radius: 20px;
  box-shadow: 1px 1px 3px 1px #6b6b6d;
  overflow-y: auto;
  background-color: #ffffff;
  width: 90%;
}

.chatPage .topChat .chatSpace .messageBox {
  display: flex;
  flex-direction: column;
}
.chatPage .topChat .chatSpace .myMessage {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: 20px;
  background-color: palegoldenrod;
  text-align: end;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}
.chatPage .topChat .chatSpace .otherMessage {
  display: flex;
  width: fit-content;
  margin-right: auto;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(81, 81, 81);
  padding-left: 15px;
  padding-right: 15px;
  text-align: start;
  color: #fff;
}
.chatPage .topChat .chatSpace .topToolBar {
  display: flex;
  flex-flow: row;
  background-color: #ecebeb;
}
.chatPage .topChat .chatSpace .currentRoom  {
  background-color: rgb(142, 51, 83);
  display: flex;
  flex-direction: row;
  color: #fff;
  width: 90%;
}
.chatPage .topChat .chatSpace .leaveButton  {
  display: flex;
  justify-content: center;
  border-top-right-radius: 20px;
  align-items: center;
  background-color: #fff;
  width: 10%;
}
.chatPage .topChat .chatSpace div {
  background-color: #ecebeb;
  padding: 5px;
}
.chatPage .topChat .chatSpace img {
  max-width: 40%; /* 이미지의 최대 너비를 부모 요소의 100%로 설정 */
  height: auto; /* 이미지의 높이를 자동으로 조절하여 가로 비율을 유지 */
  display: block; /* 이미지 간의 간격을 없애기 위해 블록 요소로 설정 */
  margin: 10px 0; /* 이미지 간의 간격을 설정 */
}
.chatPage .formBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  height: 20%;
}
.chatPage .formBox .roomForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom-left-radius: 20px;
  box-shadow: 1px 1px 3px 1px #6b6b6d;
  text-align: center;
  margin-left: 50px;
  width: 10%;
  height: 40%;
}
.chatPage .formBox .roomForm .roomLabel {
  /* text-align: left; */
  color: #ffffff; 
  padding-left: 5px;
  background-color: rgb(142, 51, 83);
  width: 100%;
  height: 30%;
}
.chatPage .formBox .roomForm .roomInput {
  border: none;
  padding: 5px;
  overflow-y: auto;
  /* background-color: rgb(142, 51, 83); */
  width: 100%;
  height: 70%;
}
.chatPage .formBox .roomForm .joinButton {
  border: none;
  color: #fff;
  padding: 5px;
  border-bottom-left-radius: 20px;
  background-color: rgb(142, 51, 83);

  cursor: pointer;
  &:hover {
    scale: 1.03;
  }
  &:active {
    scale: 1.015;
  }
}
.chatPage .formBox .messageForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-left: 1px solid lightgrey;
    box-shadow: 1px 1px 3px 1px #6b6b6d;
    border-bottom-right-radius: 20px;
    margin-right: 50px;
    width: 85%;
    height: 40%;
  }
.chatPage .formBox .messageForm .messageLabel{
  text-align: left;
  padding-left: 5px;
  background-color: #ffffff;
  width: 100%;
  height: 30%;
}
.chatPage .formBox .messageForm .messageInput{
  padding: 5px;
  width: 100%;
  height: 70%;
  border: none;
  border-bottom-right-radius: 20px;
}
.chatPage .formBox .messageForm .sendButton{
  display: none;
}
.chatPage .formBox .fileForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(84, 29, 49);
  justify-content: flex-start;
  box-shadow: 1px 1px 3px 1px #6b6b6d;
  text-align: center;
  width: 5%;
  height: 40%;
}
.chatPage .formBox .fileForm .fileName {
  display: none;
  /* display: flex;
  background-color: rgb(185, 65, 109);
  color: #fff;
  font-size: small;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
  cursor: default;
  white-space: nowrap;       
  overflow: hidden;           */
}
.chatPage .formBox .fileForm .fileSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: medium;
  width: 100%;
  height: 100%;

  cursor: pointer;
  &:hover {
    scale: 1.03;
  }
  &:active {
    scale: 1.015;
  }
}
.chatPage .formBox .fileForm .fileSearch img{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 20%;
  height: auto;
}
.chatPage .formBox .fileForm .fileInput {
  display: none;
}
.chatPage .formBox .fileForm .fileSend {
  display: none;
  /* margin: 0;
  padding: 0;
  border: none;
  outline: none;
  display: flex;
  
  border-bottom-right-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34%;
  color: #fff;
  background-color: rgb(84, 29, 49);

  cursor: pointer;
  &:hover {
    scale: 1.03;
  }
  &:active {
    scale: 1.015;
  } */
}
/*# sourceMappingURL=chat.css.map