@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0rem rgba(255,0,0, 0.2),
                  0 0 0 0.5rem rgba(255,0,0, 0.2),
                  0 0 0 1.0rem rgba(255,0,0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 0.5rem rgba(255,0,0, 0.2),
                  0 0 0 1rem rgba(255,0,0, 0.2),
                  0 0 0 1.5rem rgba(255,0,0, 0);
    }
}

.message-page {
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    background: url('/img/img_main_background.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #0D5394;


    .bottom_ground {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: url('/img/img_ground.png');
        background-position: center bottom;
        background-repeat: repeat-x;
        z-index: 1;
    }
    .message-con {
        position: relative;
        padding: 20px 10px;
        width: 480px;
        max-width: 95%;
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;

        .title {
            font-size: 30px;
            font-weight: 500;
        }
        .message-type-btns {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 10px 0;
            .type-btn {
                flex: 1;
                background-color: #f12139;
                border-radius: 10px;
                font-size: 24px;
                font-weight: 400;
                color: #fff;
                padding: 10px 20px;
                text-align: center;

                cursor: pointer;
                &:hover {
                    scale: 1.01;
                }
                &:active {
                    scale: 1.005;
                }
                &.clicked {
                    text-decoration: underline;
                }
            }
        }

        .from-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border-radius: 10px;
            margin: 10px 0;
            .from-txt {
                padding: 10px 20px;
                font-size: 15px;
                font-weight: 400;
                color: #000;
                background-color: #50abf1;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            .from-input {
                background-color: #2d2d2d;
                flex: 1;
                font-size: 15px;
                font-weight: 400;
                padding: 10px 20px;
                color: #fff;

                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border: 1px #2d2d2d ;
            }
        }

        .text-write-wrap {
            width: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            &.open {
                display: flex;
            }
            .input-box {
                margin: 20px 0;
                height: 25vh;
                overflow-y: auto;
                width: 100%;
                background-color: white;
                border: 1px solid #ccc;
                border-radius: 10px;
                padding: 10px;
                font-size: 18px;
            }
        }

        .voice-record-wrap {
            width: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20px 0;
            position: relative;
            gap: 10px;
            &.open {
                display: flex;
            }
              
            .record-btn {
                width: 100px;
                height: 100px;

                animation: _ 5s linear infinite;
                animation-duration: 0.5s;
            
                border-radius: 50%;
                background: rgb(251,63,63);
                background: radial-gradient(circle, rgba(251,63,63,1) 0%, rgba(252,70,107,1) 100%);

                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                transition: all 0.3s;

                cursor: pointer;

                img {
                    width: 30px;
                }
                &:hover {
                    scale: 1.05;
                }
                &:active {
                    scale: 1.02;
                }
                
            }
            .record-desc {
                color: #fff;
                font-size: 14px;
                font-weight: 400;

                &.open {
                    display: block;
                }
            }
            .info-wrap {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                background-color: #2d2d2d;
                border-radius: 10px;
                padding: 10px 20px;
                width: 60%;
                position: relative;
                .indicator {
                    height: 30px;
                    background: green;
                }
                .time {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 400;
                    position: absolute;
                    right: 10px;
                }
            }
            .result-wrap {
                flex-direction: row;
                justify-content: center;
                align-items: center;

                display: none;
                &.open {
                    display: flex;
                }
                audio {
                }
                .refresh {
                    margin-left: 5px;
                    background: BLACK;
                    border-radius: 50%;
                    font-size: 18px;
                    color: #fff;
                    padding: 10px 12px;
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    cursor: pointer;
                    &:hover {
                        scale: 1.05;
                    }
                    &:active {
                        scale: 1.02;
                    }
                }
            }
        }
        .message-btm-btns {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 20px;

            .xmas-button {
                font-size: 20px;
                border-radius: 10px;
                color: #fff;
                padding: 10px 0;
                flex: 1;
                cursor: pointer;
                text-align: center;
                &.send-btn {
                    flex: 2;
                }
                &:hover {
                    scale: 1.02;
                }
                &:active {
                    scale: 1.05;
                }
            }
        }
    }
}

.success-modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;

    cursor: pointer;
    
    .container{
        width: 300px;
        height: 200px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 10px 0 0.0rem #c70000;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        transition: all 0.5s;

        transform: translateY(30px);
        opacity: 0;

        &.open{
            transform: translateY(0);
            opacity: 1;
        }

        .circle{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color: #ff5649;
            box-shadow: 0 0 20px rgba(255,0,0,0.2);
            transform: translateY(-45px);
            padding-right: 5px;

            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 45px;
            }
        }

        .txt{
            flex: 1;
            flex-direction: column;
            display: flex;
            text-align: center;

            .desc{
                font-size: 14px;
                color: gray;
            }

            .desc2{
                margin-top: 5px;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}